$green: #82b854;
$blackgreen: #14571f;
$yellow: #FE9500;
$black: #464c3e;
$red: #E45E4C;
$grey: #E1E1E1;

$skyblue: #00A3D9;
$lightblue: #D1EAF2;

$inputcolor: #A5A5A5;
$blackbgcolor: #51564C;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: ($screen-sm - 1);
$screen-xxs: 400px;